body {
  display: flex;

  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
}

#container {
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(25px, 1fr));
  width: 960px;
  height: 1800px;
}

.new {
  background-color: lightpink;
  border: 2px red solid;
}

.colorTrail {
  background-color: purple;
}

.colorTrail2 {
  background-color: blue;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  gap: 1em;
}
